*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #352c36;
}
.all{
   display: flex;
   flex-direction: column;
   grid-gap: 1em;
   background-color: #d1d169;
   color: #69a9d1;
   padding: 2em;
   position: absolute;
   top: 12em;
   font-size: 1.2em;
}
.all h2{
  cursor: pointer;
}
